<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }

        .lux_display {
            width: 320px;
            padding: 10px;
            border: 5px solid gray;
            margin: 0;
            font-size: 50px;
            text-align: center;
        }

       
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='epoch.min.css') }}">
</head>

<body>

    <h1>Light Brighness:</h1>

    <div class="" "slidecontainer">
        <input type="range" min="0" max="100" value="50" class="slider" id="myRange" step=10>

        <p>Value:
            <span id="demo"></span>
        </p>
    </div>
    <div class="luxvalue">
        <h1>Lux Value:</h1>

        <div id='lux' class="lux_display"></div>

        <div>
            <p>Create Action:            
                <p>
                    Time:<input type="time" id="myTime" step="10"> 
                    Intensity/Brightness:<select id="intensity">
                        <option value="0">0 %</option>
                        <option value="1">10 %</option>
                        <option value="2">20 %</option>
                        <option value="3">30 %</option>
                        <option value="4">40 %</option>
                        <option value="5">50 %</option>
                        <option value="6">60 %</option>
                        <option value="7">70 %</option>
                        <option value="8">80 %</option>
                        <option value="9">90 %</option>
                        <option value="10">100 %</option>

                    </select>
                    <button onclick="scheduling()">Add Action</button>
                </p>
                <p>Scheduling Type:
                    <form action="">
                        <input type="radio" id="r1" checked="checked" name="schedule_type" value="manual"> Manual<br>
                        <input type="radio" id="r2" name="schedule_type" value="automatic"> Automatic<br>
                    </form>
                </p>
            </p>
        </div>

    </div>
    <div id="lineChart" style="width: 800px; height: 200px"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='epoch.min.js') }}"></script>
    <script>

        http_url = 'http://140.193.91.230:5000/signal/'


        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        var xhr = new XMLHttpRequest();

        var data = new FormData();
        xhr.onload = function () {
            console.log(this.responseText);
        };


        slider.oninput = function () {
            output.innerHTML = this.value;
            xhr.open('POST', http_url, true);
            data.append('led_value', slider.value);
            xhr.send(data);
            data.delete('led_value')

        }

        xhr = new XMLHttpRequest();
        var schedule_data = new FormData();
        //scheduling:
        function scheduling(){
            var dict ={};
            var time_input = document.getElementById("myTime").value;
            if( (time_input.split(":")).length==2){
                time_input = time_input.concat(":00");
            }

            console.log(time_input)
            // dict['time']=time_input.value;
            var intensity = document.getElementById("intensity").selectedIndex;
            // dict['intensity']=intensity;
            var radio = document.getElementById("r2").checked;
            // dict['radio']=radio;
        
            
            xhr.open('POST', 'http://140.193.91.230:5000/action/', true);
            schedule_data.append('time',time_input);
            schedule_data.append('intensity',intensity);
            schedule_data.append('radio',radio);
            
            xhr.send(schedule_data);
            schedule_data.delete('time')
            schedule_data.delete('intensity')
            schedule_data.delete('radio')
            // $.get('http://192.168.0.17:5000/schedules/', function(data, status){
            // // console.log(jQuery.type(data))
            // console.log(data);
            // console.log(jQuery.type(data));

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    jsonDict = JSON.parse(this.responseText)
                    console.log(jsonDict);
                    console.log(typeof (jsonDict));
                }
            };
            xhttp.open("GET", 'http://140.193.91.230:5000/schedules/', true);
            xhttp.send();
  
        }

        // var i=2;
        $(function poll() {
            var $flux_value = $('#lux');
            setTimeout(function () {
                $.ajax({
                    type: 'GET', url: 'http://140.193.91.230:5000/flux/', success: function (flux_value) {
                        //Update flux value
                        $flux_value.text(flux_value['lux_value']);
                        //  $flux_value.text(i); 
                        // i = i+1;
                        // console.log(i);
                        //Setup the next poll recursively
                        poll();
                    }, dataType: "json"
                });
            }, 1000);
        });

        // $.get('http://192.168.0.17:5000/schedules/', function(data, status){
        //     // console.log(jQuery.type(data))
        //     console.log(data);
        //     console.log(jQuery.type(data));
        // });    
        // }, "json");

        var lineChartData = [
            { label: 'Layer 1', values: [] },
        ];


        var myChart = $('#lineChart').epoch({
            type: 'time.line',
            data: lineChartData
        });

        var i2 = 1;
        $(function pollChart() {
            setTimeout(function () {
                $.ajax({
                    type: 'GET', url: 'http://140.193.91.230:5000/chart/', success: function (data) {
                        //Update flux value

                        var newBarChartData = [{ time: data['seconds'][0][0], y: data['seconds'][0][1] }];
                        //var newBarChartData = [{time: data['seconds'][0][0], y: i2}];
                        i2 = i2 + 1;
                        myChart.push(newBarChartData);

                        pollChart();
                    }, dataType: "json"
                });
            }, 5000);
        });



    </script>

</body>

</html>