<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .sliderCss {
            height: 200px;
            width: 0px;
        }

        #red .noUi-connect {
            background: #c0392b;
        }

        .inputBar {
            font-size: 25px;
            text-align: center;
            width: 5%;
        }

        .inputBar[type=number]:focus {
            /* background-color: #3CBC8D; */
            /* color: white; */
            border: 3px solid rgb(29, 133, 151);
        }

        .odometer {
            padding: 10px;
            border: 5px solid rgb(216, 231, 12);
            margin: 0;
            font-size: 50px;
            text-align: center;
        }

        ul.b {
            list-style-type: square;
        }

        #success {
            background: #CCF5CC;
        }

        #failure {
            background: red;
        }
    </style>

    <link rel="stylesheet" href="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='epoch.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='odometer-theme-default.css') }}">
</head>

<body>

    <div class="container">
        <h1>Light Brighness:</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <div id="slider" class="sliderCss noUi-connect"></div>
                </div>
                <div class="col-sm-*">
                    <input id="input-format" class="inputBar" type="number" step="10">
                </div>
            </div>
        </div>
    </div>

    <div class="luxvalue">
        <h1>Lux Value:</h1>
        <div id="odometer" format: '(,ddd).dd' class="odometer"></div>
    </div>

    <h1>Intensity Graph</h1>
    <div id="intensityChart" class="epoch" style="width: 800px; height: 400px"></div>

    <br></br>

    <h1>Lux Graph</h1>
    <div id="lineChart" class="epoch" style="width: 800px; height: 400px"></div>

    <div>
        <p>Create Action:
            <p>
                Time:
                <input type="time" id="myTime" step="10">
                <button onclick="setCurrentTime()">Current Time</button>
                Intensity/Brightness:
                <select id="intensity">
                    <option value="0">0 %</option>
                    <option value="1">10 %</option>
                    <option value="2">20 %</option>
                    <option value="3">30 %</option>
                    <option value="4">40 %</option>
                    <option value="5">50 %</option>
                    <option value="6">60 %</option>
                    <option value="7">70 %</option>
                    <option value="8">80 %</option>
                    <option value="9">90 %</option>
                    <option value="10">100 %</option>

                </select>
                <button onclick="scheduling()">Add Action</button>
                <span id="success"></span>
                <span id="failure"></span>
            </p>
            <p>Scheduling Type:
                <form action="">
                    <input type="radio" id="r1" checked="checked" name="schedule_type" value="manual"> Manual
                    <br>
                    <input type="radio" id="r2" name="schedule_type" value="automatic"> Automatic
                    <br>
                </form>
            </p>
        </p>

        </p>
    </div>

    </div>

    <ul id="scheduled_actions" class="b"></ul>

    <!-- /////////////////////////////////////////////////////////////////////////////
    End of HTML///////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////// -->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='epoch.min.js') }}"></script>
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>

    <script>

        http_url = 'http://140.193.207.68:5000/'

        var xhr = new XMLHttpRequest();
        var data = new FormData();


        //--------------------------------------------------------------//
        //Slider--------------------------------------------------------//
        //--------------------------------------------------------------//

        var sliderFormat = document.getElementById('slider');

        noUiSlider.create(sliderFormat, {
            start: 20,
            step: 10,
            orientation: 'vertical',
            range: {
                'min': 0,
                'max': 100
            },
            format: {
                to: function (value) {
                    return value;
                },
                from: function (value) {
                    return value;
                }
            }
        });

        var inputFormat = document.getElementById('input-format');
        inputFormat.addEventListener('change', function () {
            sliderFormat.noUiSlider.set(this.value);
        });

        sliderFormat.noUiSlider.on('update', function (values, handle) {
            inputFormat.value = values[handle];
        });

        sliderFormat.noUiSlider.on('set', function (values, handle) {
            // console.log(values[handle]);
            xhr.open('POST', http_url.concat("signal/"), true);
            data.append('led_value', values[handle]);
            xhr.send(data);
            data.delete('led_value')
        });

        //--------------------------------------------------------------//
        //Events--------------------------------------------------------//
        //--------------------------------------------------------------//

        xhr = new XMLHttpRequest();
        var schedule_data = new FormData();
        //scheduling:
        function scheduling() {
            var dict = {};
            var time_input = document.getElementById("myTime").value;
            if ((time_input.split(":")).length == 2) {
                time_input = time_input.concat(":00");
            }

            console.log(time_input)
            var intensity = document.getElementById("intensity").selectedIndex;
            var radio = document.getElementById("r2");
            radio.checked = true;


            xhr.open('POST', http_url.concat("action/"), true);
            schedule_data.append('time',time_input);
            schedule_data.append('intensity',intensity);
            schedule_data.append('radio',radio.checked);

            xhr.send(schedule_data);
            schedule_data.delete('time')
            schedule_data.delete('intensity')
            schedule_data.delete('radio')

            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    jsonDict = JSON.parse(this.responseText)
                    var isValid = jsonDict['valid'];
                    if (isValid) {

                        $('#success').fadeIn();
                        $('#success').text("Action created successfully!");
                        $('#success').fadeOut(3000);
                        // setTimeout(function(){$('#success').fadeIn();}, 10000);
                    }
                    else {
                        $('#failure').fadeIn();
                        $('#failure').text("Not a valid action!");
                        $('#failure').fadeOut(3000);
                    }
                    console.log(isValid)
                    console.log(jsonDict);
                    console.log(typeof (jsonDict));

                    $('#error_message').fadeIn().html("Action added successfully");
                    setTimeout(function () {
                        $('#error_message').fadeOut("slow");
                    }, 2000);

                    var actions = document.getElementById("scheduled_actions");
                    while (actions.firstChild) actions.removeChild(actions.firstChild);
                    for (var unixtime in jsonDict) {
                        var newDate = new Date();
                        newDate.setTime(unixtime * 1000);
                        var li = document.createElement("li");
                        li.textContent = "Time: " + newDate.toLocaleTimeString() + ", Intensity: " + jsonDict[unixtime];
                        actions.appendChild(li);
                    }
                }
            };
            xhttp.open("GET", http_url.concat("schedules/"), true);
            xhttp.send();
        }

        $(function poll() {
            var $meter_lux_value = $('#odometer');
            setTimeout(function () {
                $.ajax({
                    type: 'GET', url: http_url.concat("flux/"), success: function (server_lux_value) {
                        $meter_lux_value.text(server_lux_value['lux_value']);
                        poll();
                    }, dataType: "json"
                });
            }, 1000);
        });

        //--------------------------------------------------------------//
        //Lux Chart-----------------------------------------------------//
        //--------------------------------------------------------------//

        var lineChartData = [
            { label: 'Series 1', values: [], range: [0, 500] }
        ];

        var myChart = $('#lineChart').epoch({
            type: 'time.line',
            data: lineChartData,
            range: {
                left: [0, 500]
            },
            axes: ['bottom', 'left'],
            ticks: { time: 30 },
            windowSize: 180,
            // ticks: { time: 5, left: 8 },
            // windowSize: 30,
        });

        var intensityChartData = [
            { label: 'Series 1', values: [], range: [0, 100] }
        ];

        var intensityChart = $('#intensityChart').epoch({
            type: 'time.line',
            data: intensityChartData,
            range: {
                left: [0, 100]
            },
            axes: ['bottom', 'left'],
            ticks: { time: 30 },
            windowSize: 180,
            // ticks: { time: 5, left: 10 },
            // windowSize: 30,
        });


        $(function pollChart() {
            setTimeout(function () {
                $.ajax({
                    type: 'GET', url: http_url.concat('chart/'), success: function (data) {
                        //Update flux value                        
                        myChart.push([{ time: data['seconds'][0], y: data['seconds'][1] }]);
                        intensityChart.push([{ time: data['seconds'][0], y: data['led_brightness'] }]);
                        pollChart();
                    }, dataType: "json"
                });
            }, 1000);
        });

        function setCurrentTime() {
            var time_input = document.getElementById("myTime");
            var d = new Date(),
                h = d.getHours(),
                m = d.getMinutes();
            if (h < 10) h = '0' + h;
            if (m < 10) m = '0' + m;

            time_input.value = h + ':' + m
        }
    </script>
</body>

</html>